/*上传单个图片*/
.uploadImg1{overflow: auto}
.uploadImg1 .avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.uploadImg1 .avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.uploadImg1 .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.uploadImg1 .addImg {
  background-color: #fbfdff;
  /*border: 1px dashed #c0ccda;*/
  border-radius: 6px;
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.uploadImg1 .addImg img{
  width: 30px;
  height: 30px;
}
.uploadImg1 .deleteImg{
  font-size:20px;
  background: #000;
  color: #fff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  position: absolute;
  top: 0;
  left: 150px;
  border-radius: 3px;
}

/*上传图片集*/
.uploadImgs{position: relative}
.uploadImgs .imgCss{
  /*width: 146px;
  height: 146px;*/
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;}
.uploadImgs .imgCss img{
  width: 146px;
  height: 146px;
  padding: 0;
  margin: 0 20px 0 0;
  background-color: #fff;
  border: 1px solid #c0ccda;
  border-radius: 6px;
}
.uploadImgs .upload-demo .el-upload-list--picture li{width: 148px;height: 148px;margin: 0 20px 20px 0; padding: 0; float: left;display: block}
.uploadImgs .upload-demo .el-upload-list--picture li img{width: 146px;height: 146px;padding: 0;margin: 0;object-fit: cover;object-position: top;}
.uploadImgs .upload-demo .el-upload-list--picture li .el-upload-list__item-name{display: none}
.uploadImgs .upload-demo .el-upload-list--picture li .el-upload-list__item-status-label{z-index: 111}
.uploadImgs .upload-demo .el-upload-list--picture li .el-icon-close{z-index: 111;
}
.uploadImgs .button{
  display: flex;
  justify-content: flex-start;
}
.uploadImgs .el-upload__tip{
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #989898;
  font-size: 12px;
  padding: 0;
  margin: 0;
  line-height: 30px;
}
.uploadImgs .video  .el-upload-list__item:first-child {
  margin-top: 0px;
}
.uploadImgs .video ul li{padding-bottom: 10px;}
.uploadImgs .upload-demo{
  /*position: relative;*/
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.uploadImgs .button .el-icon-plus{
  font-size: 30px;
  color: #8C939D;
  width: 148px;
  height: 148px;
  border: 1px dashed #409EFF;
  border-radius: 3px;
  line-height: 148px;
  text-align: center;
}
.uploadImgs .el-upload-list {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  /*display: flex;
  justify-content: flex-start;*/
  /*flex-direction: column;*/
}
.uploadImgs .el-upload{
  width: auto;
  overflow:hidden;
  height: 70px;
  text-align: left!important;
}

/*上传文件*/
.uploadFile{}
